* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #EEE5E9;
}


header {
    height: 90px;
    background-color: #9AB87A;
    display: flex;
    justify-content: center; 
    align-items: center;
    filter: drop-shadow(1px 1px 2px #000000);
    border-radius: 2px;
}


.imageHeader-container {
    display: flex; 
    align-items: center; 
    
}

.imageHeader-container img {
    max-width: 20%; 
}

.textHeader-container {
    margin-left: 20px;
}

.textHeader-container h3 {
    font-size: 24px; 
}
#sos-heading {
    margin-left: 30%;
}

h3{
    text-align: center;
}

main div{
    margin-top: 6%;
    text-align: center;
    border-bottom: #000000;
    border: 1px;
    
}
.resultado{
    text-align: center;border-bottom: #000000;
    border: 1px;
}
#btnFinalizar{
    margin-top: 6%;

    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* transição suave */
}
footer {
    background-color: #9AB87A;
    text-align: center;
    padding: 10px 0;
    margin-top: 15%;
    border-radius: 2px;
    height: 50px;
}
.item{
    height: 300px;
   width: 95%;
    margin-top: 10%;
    margin-left: 2.5%;
    background-color: black;
    border-color: rgb(75, 75, 75);
    border-style: solid;
    border-width: 0.1cm;

    
    border-radius: 3px;
}
.item p{
    font-size: 20px;
    position: absolute;
    margin-top: 3%;
    text-align: center;
    margin-right: 2%;
    
}

#item-1 {
    background-color:#B0AEAE; 
    text-align: center;
}


#item-2 {
    background-color: #EB8221; text-align: center;
}

#item-3 {
    background-color: cornflowerblue; text-align: center;
}

#item-4 {
    background-color: firebrick; text-align: center;
}

#item-5 {
    background-color: gold; text-align: center;
}

#item-6 {
    background-color: darkolivegreen; text-align: center;
}
#item-7{
    background-color: aquamarine;
    
}span{

    font-size: x-large;
   }
   input[type="checkbox"] {
    width: 20px;
    height: 20px; 
    margin: 0; 
    padding: 0; 
    border: 1px solid #ccc; 
    font-size: 16px; 
}
/*button:hover {
    background-color: #0056b3;
}muda cor ao passar o mouse*/
