* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #EEE5E9;
}


header {
    height: 90px;
    background-color: #9AB87A;
    display: flex;
    justify-content: center; 
    align-items: center;
    filter: drop-shadow(1px 1px 2px #000000);
    border-radius: 2px;
}


.imageHeader-container {
    display: flex; 
    align-items: center; 
    
}

.imageHeader-container img {
    max-width: 20%; 
}

.textHeader-container {
    margin-left: 20px;
}

.textHeader-container h3 {
    font-size: 24px; 
}
#sos-heading {
    margin-left: 30%;
}

main h3{
    text-align: center;
}

main div{
    margin-top: 6%;
    text-align: center;
    border-bottom: #000000;
    border: 1px;
    
}
.resultado{
    text-align: center;border-bottom: #000000;
    border: 1px;
}
#btnFinalizar{
    margin-top: 6%;

    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* transição suave */
}

/*button:hover {
    background-color: #0056b3;
}muda cor ao passar o mouse*/
