@media screen and (min-width: 769px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        background-color: #EEE5E9;
    }


    header {
        height: 90px;
        background-color: #9AB87A;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(1px 1px 2px #000000);
        border-radius: 2px;
    }


    .imageHeader-container {
        display: flex;
        align-items: center;

    }

    .imageHeader-container img {
        max-width: 20%;
    }

    .textHeader-container {
        margin-left: 20px;
    }

    .textHeader-container h3 {
        font-size: 24px;
    }

    #sos-heading {
        margin-left: 3%;
    }

    footer {
        background-color: #9AB87A;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        border-radius: 2px;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        margin-top: 15%;
    }

    footer a {
        display: inline-block;
        height: 100%;
    }

    .footer-logo {
        height: 100%;
        width: auto;
    }

    footer p {
        color: #ffffff;
        font-size: 16px;
    }

    #sos-heading {
        margin-left: 30%;
    }

    /* exclusivo do html */

    .Titulo {
        text-align: center;
    }

    .Titulo h1 {
        margin-bottom: 3%;
    }

    .redirecionar {
        margin-bottom: 2%;
        margin-top: 1%;
        text-align: center;
    }

    .redirecionar a {
        margin-left: 2%;
        margin-right: 2%;
        font-size: 120%;
        color: #255c32;
    }

    main p {
        margin-right: 3%;
        margin-left: 2%;
        font-size: large;
    }

    main h2 {
        text-align: center;
    }

    #sintomas h2 {
        margin-top: 6%;
    }

    ul {
        margin-left: 10px;
    }

    ol {
        list-style-type: none;
        counter-reset: li;
        text-align: left;
    }

    li {
        font-size: 1.5rem;
    }

    li:before {
        counter-increment: li;
        content: counter(li, decimal-leading-zero);
        color: #9AB87A;
        margin-right: 0.25em;
    }

    #transmissao {
        margin-top: 6%;
    }

    .escala {
        width: 90%;
        height: auto;

    }

    .escala-container {
        display: flex;
        justify-content: center;
        /* Centraliza horizontalmente */
        align-items: center;
        /* Centraliza verticalmente */
    }

    #tratamento {
        margin-bottom: 20%
    }
    #tratamento  {
        text-align: center;
    }
    html {
        scroll-behavior: smooth;
    }
    #sintomas ol{
        margin-left: 43%;
    }
    #definicao, #transmissao, #tratamento{
        max-width: 60%;
        margin-left: 22%;
    }
   
}

@media screen and (max-width: 768px){
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #EEE5E9;
    
    
    
}


header {
    height: 90px;
    background-color: #9AB87A;
    display: flex;
    justify-content: center; 
    align-items: center;
    filter: drop-shadow(1px 1px 2px #000000);
    border-radius: 2px;
}


.imageHeader-container {
    display: flex; 
    align-items: center; 
    
}

.imageHeader-container img {
    max-width: 20%; 
}

.textHeader-container {
    margin-left: 20px;
}

.textHeader-container h3 {
    font-size: 24px; 
}
#sos-heading {
    margin-left: 3%;
}

footer {
    background-color: #9AB87A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-radius: 2px;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-top: 15%;
}
footer a {
    display: inline-block;
    height: 100%;
}

.footer-logo {
    height: 100%;
    width: auto;
}
footer p {
    color: #ffffff;
    font-size: 16px;
}

#sos-heading {
    margin-left: 30%;
}

/* exclusivo do html */ 

.Titulo{
    text-align: center;
}
.Titulo h1{
margin-bottom: 3%;
}
.redirecionar{
    margin-bottom: 2%;
    margin-top: 1%;
    text-align: center;
}
.redirecionar a{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 120%;
    color: #255c32;
}

main p{
    margin-right: 3%;
    margin-left: 2%;
    font-size: large;
}
main h2{
    text-align: center;
}
#sintomas h2{
    margin-top: 6%;
}
ul{
    margin-left: 10px;
}
ol {
    list-style-type: none;
    counter-reset: li;text-align: left;
}

li {
    font-size: 1.5rem;
}

li:before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
    color: #9AB87A;
    margin-right: 0.25em;
}
#transmissao{
    margin-top: 6%;
}
.escala{
    width: 90%;
    height: auto;
  
}
.escala-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
}
#tratamento{
    margin-bottom: 20%
}

html {
    scroll-behavior: smooth;
}}