
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #EEE5E9;
}


header {
    height: 90px;
    background-color: #9AB87A;
    display: flex;
    justify-content: center; 
    align-items: center;
    filter: drop-shadow(1px 1px 2px #000000);
    border-radius: 2px;
}


.imageHeader-container {
    display: flex; 
    align-items: center; 
    
}

.imageHeader-container img {
    max-width: 20%; 
}

.textHeader-container {
    margin-left: 20px;
}

.textHeader-container h3 {
    font-size: 24px; 
}
#sos-heading {
    margin-left: 30%;
}

.info-sintomas{
    background-color: #C1C1C1;
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-top:20%;
    border-radius: 2px;
}
.info-sintomas h1{
    text-align: center;
}
#sintomas{
    color: white; 
}
.info-sintomas p{
    font-size: x-large;
    color: white;
    text-align: center;
}

.info-sintomas a {
    display: block;
    text-align: center; 
    font-size: x-large;
    color: black;

}

footer {
    background-color: #9AB87A;
    text-align: center;
    padding: 10px 0;
    margin-top: 15%;
    border-radius: 2px;
    height: 50px;
}
 

.item{
    height: 300px;
   width: 95%;
    margin-top: 10%;
    margin-left: 2.5%;
    background-color: black;
    border-color: rgb(75, 75, 75);
    border-style: solid;
    border-width: 0.1cm;

    
    border-radius: 3px;
}
.item p{
    font-size: 20px;
    position: absolute;
    margin-top: 3%;
    text-align: center;
    margin-right: 2%;
    
}
.item a{
    position: absolute;
    font-size: 30px;
    color: black;
    margin-top: 45%;
    margin-left: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#item-1 {
    background-color:#B0AEAE; 
    text-align: center;
}
#item-1 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 22%;
    
}

#item-2 {
    background-color: #EB8221; text-align: center;
}
#item-2 img{
    width: 80%;
    height: 90%;
    opacity: 0.4;
    position: absolute;
    margin-top: 15%;
    transform: rotate(310deg);
}
#item-3 {
    background-color: cornflowerblue; text-align: center;
}
#item-3 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 25%;
    
}
#item-4 {
    background-color: firebrick; text-align: center;
}
#item-4 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 25%;
    
}
#item-5 {
    background-color: gold; text-align: center;
}
#item-5 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 25%;
    
}
#item-6 {
    background-color: darkolivegreen; text-align: center;
}
#item-6 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 25%;
    
}