/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o header */
header {
    height: 90px;
    background-color: #9AB87A;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

/* Estilos para a container da imagem e texto */
.imageHeader-container {
    display: flex; /* Faz com que os elementos dentro dela sejam exibidos em linha */
    align-items: center; /* Centraliza os itens verticalmente */
    
}

.imageHeader-container img {
    max-width: 20%; /* Garante que a imagem não ultrapasse a largura máxima do contêiner */
}

.textHeader-container {
    margin-left: 20px; /* Espaçamento entre a imagem e o texto */
}

.textHeader-container h3 {
    font-size: 24px; /* Tamanho da fonte do h3 SOS */
   
}
#sos-heading {
    margin-left: 30%;
}

.info-sintomas{
    background-color: #C1C1C1;
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-top:20%;
}
.info-sintomas h1{
    text-align: center;
}
#sintomas{
    color: white;
}
.info-sintomas p{
    font-size: x-large;
    color: white;
}

.info-sintomas a {
    display: block;
    text-align: center; 
    font-size: x-large;
    color: black;

}

footer {
    background-color: #9AB87A;
    text-align: center;
    padding: 10px 0;
    margin-top: 90%;
}
 

.item{
    height: 300px;
   width: 95%;
    margin-top: 30%;
    margin-left: 2.5%;
    background-color: black;
    border-color: rgb(75, 75, 75);
    border-style: solid;
    border-width: 0.1cm;
    
}
#item-1 {
    background-color:#B0AEAE; 
    text-align: center;
}
#item-1 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 15%;
    
}
.item p{
    font-size: x-large;
    position: absolute;
    margin-top: 3%;
    
}

#item-2 {
    background-color: #EB8221; text-align: center;
}
#item-2 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 15%;
    
}
#item-3 {
    background-color: #3CF3D2; text-align: center;
}
#item-3 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 15%;
    
}
#item-4 {
    background-color:gainsboro; text-align: center;
}
#item-4 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 15%;
    
}
#item-5 {
    background-color: purple; text-align: center;
}
#item-5 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 15%;
    
}
#item-6 {
    background-color: orange; text-align: center;
}
#item-6 img{
    width: 60%;
    height: 50%;
    opacity: 0.4;
    position: absolute;
    margin-top: 15%;
    
}